@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  line-height: $line-height;
}

%ui-clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}
